<!DOCTYPE html>
<html lang="en">
<head>
        <title> 연습 </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

</head> 
<body> 
    <div class="container"> 
        <div class="header"> 
            <nav> 
                <ul class="nav nav-pills pull-right"> 
                    <li role="presentation" class="active"><a href="#">Home</a> 
                    </li> 
                    <li role="presentation"><a href="#">대여기록</a> 
                    </li> 
                    <li role="presentation"><a href="#">반납하기</a> 
                    </li> 
                    <li role="presentation"><a href="showSignUp">로그인</a> 
                    </li> 
                </ul> 
            </nav> 
            <h3 class="text-muted">레이서 도서관</h3> 
        </div> 
        <div class="jumbotron"> 
            <h1>도서관에 환영</h1> 
            <p class="lead"></p> 
                <p>
                    <a class="btn btn-lg btn-success" href="#" role="button">둘러봐용</a> 
                </p> 
        </div> <div class="row marketing"> 
            <div class="col-lg-6"> 
                <h4>B1 List</h4> 
                <p>책내용</p> 
                <h4>2 List</h4> 
                <p>책내용2</p> 
                <h4>333</h4> 
                <p>3333</p> 
                <h4>목록4</h4> 
                <p>444</p> 
            </div> 
            <div class="col-lg-6"> 
                <h4>목록5</h4> 
                <p>555</p> 
                <h4>목록6</h4> 
                <p>66</p> 
                <h4>목록7</h4> 
                <p>77</p> 
                <h4>목록8</h4> 
                <p>88</p> 
            </div> 
        </div> 
        <footer class="footer"> 
                <p>푸터영역 박박수영도도서관</p> 
        </footer> 
    </div> 
</body> 

</html>