<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <title>Alice Library</title>
</head>
<body>
    <div id="login">
        <h3 class="text-center text-white pt-5">Login form</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="{{ url_for('login') }}"  method="post">
                            {{form.csrf_token}}
                            <h3 class="text-center text-info">ALICE LIBRARY</h3>
                            <div class="form-group">
                                {{form.email.label("이메일", class='text-info')}}
                                {{form.email(class="form-control", placeholder="이메일")}}
                            </div>
                            <div class="form-group">
                                {{form.password.label("비밀번호", class='text-info')}}
                                {{form.password(class="form-control", placeholder="비밀번호")}}
                            </div>
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-info btn-block" value="도서관 로그인">
                            </div>
                            <div id="register-link" class="text-right">
                                <a href="/register" class="text-info">가입하기</a>
                            </div>
                        </form>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
    <footer class="text-left">
        <p class="m-5 text-uppercase font-italic">Copyright © 2021 Alice-kdt</p>
        <address class="m-5 font-italic">Please advise as necessary. gkqrur1760@daum.net</address>
    </footer>
</body>

</html>